@use "../abstracts" as *;

/********************************
>>>>>>> Section-container <<<<<<<
*********************************/
// Container breakpoints
// (min-width: 384px)  => xs: 24em
// (min-width: 576px)  => sm: 36em
// (min-width: 768px)  => md: 48em,
// (min-width: 992px)  => lg: 62em,
// (min-width: 1200px) => xl: 75em,
// (min-width: 1400px) => xxl: 87.5em

.container {
  padding-inline: rem(12);
  margin-inline: auto;
  width:rem(280);


  @include mq(xs) {
    width:rem(375);
  }
  @include mq(sm) {
    width:rem(550);
  }

  @include mq(md) {
    width:rem(750);
  }

  @include mq(lg) {
    width:rem(950);
  }


  @include mq(xl) {
    width:rem(1150);
  }


  @include mq(xxl) {
    width:rem(1300);
  }
}


