@use "../assets/sass/abstracts" as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  animation: v-modal-out .3s ease-out forwards;

  .overlay {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }

  .content {
    z-index: 1;
    padding: rem(32);
    max-width: rem(400);
    border-radius: rem(8);
    display: flex;
    flex-direction: column;
    gap: rem(32);
    background-color: var(--white);

    .subject {
      font-weight: 500;
      font-size: rem(24);
    }

    .message {
      color: var(--grayish-blue);
      line-height: rem(24);
    }

    .modal-buttons {
      display: flex;
      gap: rem(14);

      .modal-close-btn,
      .modal-action-btn {
        width: 50%;
        padding-block: rem(12);
        border-radius: rem(8);
        text-transform: uppercase;
        font-weight: 500;
        transition: all 0.3s;
      }

      .modal-close-btn:hover,
      .modal-action-btn:hover {
        opacity: 0.7;
      }
    }

  }


}