@use "./assets/sass/abstracts" as *;

.app {
  background-color: var(--light-gray);
  min-height: 100vh;
  padding-block: rem(64);
  padding-inline: rem(12);
  display: flex;
  justify-content: center;
}
